html {
  width: 100%;
  height: 100%;
  background: radial-gradient(48.15% 48.15% at 50% 51.85%, #FFFFFF 8.85%, rgba(132, 187, 238, 0.46) 61.46%, rgba(213, 111, 238, 0.5) 100%);
}

@font-face {
  font-family: "RubikOne";
  src: local("RubikOne"),
    url(./fonts/RubikOne-Regular.ttf) format("truetype");
}

.brand{
  position: absolute;
  width: 70.24px;
  height: 72.3px;
  left: -170px;
  top: -10px;
}

.card1{
  position: absolute;
  width: 43.39px;
  height: 53.19px;
  left: 211px;
  top: 17.77px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  transform: rotate(-14.37deg);
  
}

.card2{
  position: absolute;
  width: 43.39px;
  height: 53.19px;
  left: 226px;
  top: 27.77px;
  
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  transform: rotate(-14.37deg);
}

.logomain{

  position: absolute;
  width: 37px;
  height: 20px;
  left: 224.44px;
  top: 30px;
  
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  
  
  color: #000000;
  
  transform: matrix(1, 0.02, -0.02, 1, 0, 0);
}

.logosub{
  position: absolute;
  width: 33px;
  height: 7px;
  left: 237.15px;
  top: 47px;
  
  font-family: "RubikOne";
  font-style: normal;
  font-weight: normal;
  font-size: 6px;
  line-height: 7px;
  
  color: #000000;
  
  transform: matrix(1, 0.02, -0.02, 1, 0, 0)
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

.borderHover:hover{
  border: 2px solid;
  width: 120%;
  height: 150%;;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
  transform: rotate(-8deg) translateY(-10px) translateX(-5px);
  border-radius: 20px;
}

.borderHover:hover > .navBarWord {
  transform: rotate(-8deg) translateY(-10px);
}

.borderHover{
  width: 0%;
  height: 0%;;
  text-decoration: none;
  padding-top: 0;
  padding-left: 0;
  border-radius: 0;
}

.activeIcon > .borderHover {
  border: 2px solid;
  width: 120%;
  height: 150%;;
  text-decoration: none;
  padding-top: 10px;
  padding-left: 10px;
  transform: rotate(-8deg) translateY(-10px) translateX(-5px);
  border-radius: 20px;
}

.activeIcon > .borderHover > .navBarWord {
  transform: rotate(-8deg) translateY(-10px);
}

.navbarDesign {
  width: 100px;
  height: 40px;
  margin: 10px 20px;
  -moz-border-radius: 100px / 50px;
  -webkit-border-radius: 100px / 50px;
  border-radius: 100px / 50px;
  
  transform: matrix(0.99, 0.11, -0.14, 0.99, 0, 0);
}


.navBarWord {
  font-family: "RubikOne";
  font-size: 25px;
  color: white;
    -webkit-text-stroke: 0.4px white;
    -webkit-text-fill-color: black;
  transform: rotate(-15deg) translateY(10px) translateX(-5px);
}

body {
  background-color: transparent;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.btn {
  font-family: monospace;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  /* padding: 0.8rem 2rem; */
  border-radius: 0.6rem;
  border: none;
  background: #3772ff;
  color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 1px 2px 6px 0 #91b2ff, -1px -1px 6px 0 #91b2ff;
}

.nextbtn {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  border-radius: 0.6rem;
  border: none;
  background: #91b2ff;
  color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.deck:hover {
  box-shadow: 1px 2px 6px 0 #d1d1d1, -1px -1px 6px 0 #d1d1d1;
}

p {
  letter-spacing: 2px;
}

.popup {
  background: black;
  color: white;
  position: absolute;
  top: 80px;
  right: 800px;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
}

.imageText {
  font-size: 13px;
}

