html {
  width: 100%;
  height: 100%;
  background: radial-gradient(48.15% 48.15% at 50% 51.85%, #FFFFFF 8.85%, rgba(132, 187, 238, 0.46) 61.46%, rgba(213, 111, 238, 0.5) 100%);
}

body {
  background-color: transparent;
}

.App {
  font-family: sans-serif;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn {
  font-family: monospace;
  font-size: 2rem;
  letter-spacing: 0.2rem;
  /* padding: 0.8rem 2rem; */
  border-radius: 0.6rem;
  border: none;
  background: #3772ff;
  color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.btn:hover {
  box-shadow: 1px 2px 6px 0 #91b2ff, -1px -1px 6px 0 #91b2ff;
}

.nextbtn {
  font-family: monospace;
  font-size: 1.5rem;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  border-radius: 0.6rem;
  border: none;
  background: #91b2ff;
  color: white;
  transition: box-shadow 0.3s ease-in-out;
}

.deck:hover {
  box-shadow: 1px 2px 6px 0 #d1d1d1, -1px -1px 6px 0 #d1d1d1;
}

p {
  letter-spacing: 2px;
}

.popup {
  background: black;
  color: white;
  position: absolute;
  top: 80px;
  right: 800px;
  width: 200px;
  height: 100px;
  border: 3px solid #73ad21;
}

.imageText {
  font-size: 13px;
}

/* .bot2{
  transform:rotate(0.25turn)
} */

.container {
  background: radial-gradient(circle at center, #FFFFFF, #C3DAEF, #524555);
}

.playerTurn {
  height: 30%;
  width: 30%;
  background-color: #FFC825;
  filter: drop-shadow(5px 10px 10px rgba(0, 0, 0, 0.507));
  padding: 2rem;
  margin: auto;
  margin-left: 35%;
  margin-top: 15%;
  text-align: center;
  overflow: hidden;
  border-radius: 0.6rem;
  border-width: 0 5rem;
  border: solid #ffffff;
}

.playerHeader {
  color: black;
  font-size: 35px;
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
}

.colorChoose {
  height: 30%;
  width: 30%;
  background-color: black;
  border-radius: 0.6rem;
  border: none;
  margin-left: 35%;
  margin-top: 15%;
}

.header {
  color: white;
  font-size: 35px;
  text-align: center;
  padding-top: 5%;
}

.actions {
  margin-left: 10%;
  margin-top: 8%;
}