.PlayerArea {
    background-color: hsl(32, 100%, 70%);
    border-radius: 30px;
    padding: 10px;
    padding-left: 60px;
}

.PlayerStack {
    width: 90%;
    justify-content: center;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

.CurrentColor {
    width: 30px;
    height: 30px;
    border-radius: 5px;
    margin-left: 35px;
    margin-bottom: 5px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}

.OtherPlayerStack {
    max-width: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

.OtherPlayerStackLeft {
    transform: rotate(90deg) translateX(-18px)
}

.OtherPlayerStackRight {
    transform: rotate(-90deg) translateX(-18px)
}

.OtherPlayerStackTop {
    transform: rotate(180deg)
}

.PlayerNameLeft {
    font-size: 15px;
    transform: rotate(90deg) translateX(60px) translateY(70px);
    width: fit-content;
    margin-left: auto;
}

.PlayerNameRight {
    font-size: 15px;
    font-size: 15px;
    transform: rotate(-90deg) translateX(-60px) translateY(70px);
    width: fit-content;
    margin-right: auto;
}

.PlayerNameTop {
    font-size: 15px;
    transform: rotate(180deg);
    position: absolute;
    top: 160px;
    right: 48vw;
}

.PlayerName {
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}

.PlayersTurn {
    color: red;
}

.ReverseIcon {
    width: 80px;
    margin-top: 80px;
    margin-right: 30vw;
}

.Reversed {
    transform: scaleX(-1);
}

.ProfileIcon {
    width: 80px;
    margin-top: 80px;
    margin-left: 10vw;
}

/* Start of Styles for Modals */
.colormodal{
    display: flex;
    justify-content: center;
    align-items: center;
}

.colormodalcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 50%;
    border: 5px solid black;
    border-radius: 15px;
}
.colormodaltitle{
    font-family: 'RubikOne' !important;
    color: black !important;
}
.colormodaltitlecontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btncontainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnYellow{
    
    background-color: #FFC825 !important;
    padding: 10px !important;
    color: #FFC825 !important;
}

.btnGreen{
    background-color: #33984B !important;
    color: #33984B !important;
    padding: 10px !important;
}

.btnBlue{
    background-color: #1E9FE7 !important;
    color: #1E9FE7 !important;
    padding: 10px !important;
}

.btnRed{
    background-color: #E71E1E !important;
    color: #E71E1E !important;
    padding: 10px !important;
}
/* End of Styles for Color Modal */

.roomBtn {
    width: 80px;
    height: 30px;
    margin: 10px 20px;
    -moz-border-radius: 100px / 40px;
    -webkit-border-radius: 100px / 40px;
    border-radius: 100px / 40px;
    background: #6C01AD;
    transform: matrix(0.99, 0.11, -0.14, 0.99, 0, 0);
}

.roomBtn>p {
    font-family: "RubikOne";
    font-size: 21px;
    color: black;
    -webkit-text-stroke: 0.4px black;
    -webkit-text-fill-color: white;
    transform: rotate(-15deg);
}

.btn {
    font-size: 11px;
    padding: 5px;
}