.column {
  float: left;
  width: 50%;
}

.error-msg {
  font-size: "12px";
  width: "100%";
  color: "red";
}

.success-msg {
  width: 100%;
}

#loginSection{
  border: 2px solid white;
  border-radius: 10px;
  box-shadow: 1px 2px #888888;
  background-color: white;
}

#loginTxt{
  font-family: Rubik Mono One;
  font-size: 55;
  font-weight: bolder;
  border: #00B2FF;
  border-style: solid;
  border-radius: 15px;
  background-color: #00b3ffe7;
  /* position: relative; */
  width: 60%;
  /* margin-left: 20%; */
  
  position: absolute;
  top: -30px;
  left: 100px;
  
}

.input-group-text{
  background-color: orange;
}

.form-control{
  background-color: rgba(255, 166, 0, 0.562);
}

#btnTxt{
  transform: rotate(-18deg);
  position: relative;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
}

#btnTxt > b{
  font-family: "RubikOne";
}

#submitBtn{
  transform: rotate(8deg);
}

