
/* For home.js */

.cardsHome{
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}
  .column{
    height: 5%;
  }
  
  .cardImage1 {
    transform: rotate(-20deg);
    height: 150px;
  }
  
  .cardImage2 {
    transform: rotate(20deg);
    height: 150px;
  }
  
  .startBtn {
    font-family:"RubikOne";
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    padding: 0.8rem 2rem;
    margin: 1.5rem;
    border: none;
    background: #0288d1;
    color: white;
    transform: skewX(-10deg);
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .startMultiBtn {
    font-family: "RubikOne";
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 1.5rem;
    padding: 0.8rem 2rem;
    border: none;
    background: #9c27b0;
    color: white;
    transform: skewX(-10deg);
    transition: box-shadow 0.3s ease-in-out;
  }

  .leaderBoardBtn {
    font-family: "RubikOne";
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 1.5rem;
    padding: 0.8rem 2rem;
    border: none;
    background: #d32f2f;
    color: white;
    transform: skewX(-10deg);
    transition: box-shadow 0.3s ease-in-out;
  }

  .profileBtn {
    font-family: "RubikOne";
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    margin: 1.5rem;
    padding: 0.8rem 2rem;
    border: none;
    background: #2e7d32;
    color: white;
    transform: skewX(-10deg);
    transition: box-shadow 0.3s ease-in-out;
  }

  .startBtn:hover{
    color: black;
  }
  .startMultiBtn:hover{
    color: black;
  }
  .leaderBoardBtn:hover{
    color: black;
  }
  .profileBtn:hover{
    color: black;
  }