 .error-msg {
    font-size: "12px";
    width: "100%";
    color: "red";
  }
  
  .success-msg {
    width: 100%;
  }

  #registerSection{
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 2px #888888;
    background-color: white;
    margin-top: 10%;
 
  }


  #registerTxt{
    font-family: Rubik Mono One;
    position: absolute;
    top: 10px;
    left: 110px;
    border:#00b3ffe7;
    border-style: solid;
    border-radius: 15px;
    background-color: #00b3ffe7;
    width: 60%;
  }

  #registerBtnTxt{
    transform: rotate(-20deg);
    position: relative;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-family: "RubikOne";
  }

  #registerBtn{
    transform: rotate(8deg);
  }

  label {
    text-align: left;
    display: inline-block;
    width:100%;
  }

  .form-control{
    display: inline-block;
    padding-right: 200px;
  }

  .link{
    padding: 15px 30px;
    margin: 10px;
    display: inline-block;
    color: #000;
    background: #ffce54;
    text-decoration: none;
  }
  
  .link:hover{
    text-decoration: none;
    color: #000;
  }
  
  /*==================*/
  /* POP
  /*==================*/
  
  @-webkit-keyframes pop-on-hover {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes pop-on-hover {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .pop-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .pop-on-hover:hover, .pop-on-hover:focus, .pop-on-hover:active {
    -webkit-animation-name: pop-on-hover;
    animation-name: pop-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }