.tutorialModalDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.carouselcontent {
    width: 100%;
    text-align: center;
    padding: 9rem 0;
}

.title {
    font-family: "RubikOne";
    color: black;
    padding: 1rem 0;
}

.image {
    height: 40%;
    width: 40%;
}

.description {
    font-family:sans-serif;
    color: black;
}

.tutorialModal{
    height: 70%;
    width: 70%;
    background-color: #FFC825 !important;
    border: 5px solid #ffffff !important;
    border-radius: 15px;
    margin-left: 15%;
    margin-top: 7%;
}