.star-five {
    background: transparent;
    margin: 50px 0;
    position: relative;
    display: block;
    color: #ffffff;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffffff;
    border-left: 100px solid transparent;
    
  }
  .star-five:before {
    border-bottom: 80px solid #ffffff;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    background-color: transparent;
    position: absolute;
    height: 0;
    width: 0;
    top: -45px;
    left: -65px;
    display: block;
    content: '';
    transform: rotate(-35deg);
  }
  .star-five:after {
    background-color: transparent;
    position: absolute;
    display: block;
    color: #ffffff;
    top: 3px;
    left: -105px;
    width: 0px;
    height: 0px;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #ffffff;
    border-left: 100px solid transparent;
    transform: rotate(-70deg);
    content: '';
  }