@-webkit-keyframes pop-on-hover {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  @keyframes pop-on-hover {
    50% {
      -webkit-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
  .pop-on-hover {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .pop-on-hover:hover, .pop-on-hover:focus, .pop-on-hover:active {
    -webkit-animation-name: pop-on-hover;
    animation-name: pop-on-hover;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  } 
  
  /* @keyframes shake {
    0%  { transform: translate(2px, 1px)   rotate(0deg);  }
    10% { transform: translate(-1px, -2px) rotate(-2deg); }
    20% { transform: translate(-3px, 0px)  rotate(3deg);  }
    30% { transform: translate(0px, 2px)   rotate(0deg);  }
    40% { transform: translate(1px, -1px)  rotate(1deg);  }
    50% { transform: translate(-1px, 2px)  rotate(-1deg); }
    60% { transform: translate(-3px, 1px)  rotate(0deg);  }
    70% { transform: translate(2px, 1px)   rotate(-2deg); }
    80% { transform: translate(-1px, -1px) rotate(4deg);  }
    90% { transform: translate(2px, 2px)   rotate(0deg);  }
    100%{ transform: translate(1px, -2px)  rotate(-1deg); }
    } */
  
    @keyframes wobble {
      25% {
        transform: rotate(15deg);
      }
    
      50% {
        transform: rotate(-30deg);
      }
    
      75% {
        transform: rotate(5deg);
      }
    
      100% {
        transform: rotate(0deg);
      }
  
    }

  
  .accountTitle {
      padding: 14px;
      font-family: Rubik Mono One;
      font-size: 55;
      font-weight: bolder;
      border: #00B2FF;
      border-style: solid;
      border-radius: 15px;
      background-color: #00b3ffe7;
      /* position: relative; */
      width: 60%;
      /* margin-left: 20%; */
    
      position: absolute;
      top: -30px;
      left: 100px;
  }
  
  .accountBody{
      padding: 44px;
      border: 2px solid white;
    border-radius: 10px;
    box-shadow: 1px 2px #888888;
    background-color: white;
  }
  
  .accountLoginText{
    transform: rotate(-18deg);
    position: relative;
    -webkit-text-stroke-width: 0.7px;
    -webkit-text-stroke-color: white;
    
    /* margin-top: 30; */
  }
  
  .accountEmailDiv{
      padding-bottom: 10px;
  }
  
  .accountInputItems{
    background-color: rgb(255, 193, 79);
  }
  
  /* Register Page */
  .registerInputItems{
    background-color: rgb(255, 193, 79);
  
  }
  
  .registerTxt{
    font-family: Rubik Mono One;
      position: absolute;
      top: 30px;
      left: 110px;
      border:#00b3ffe7;
      border-style: solid;
      border-radius: 15px;
      background-color: #00b3ffe7;
      width: 60%;
  
  }
  
  .registerBtn{
    transform: rotate(5deg);
      position: relative;
      -webkit-text-stroke-width: 0.5px;
      -webkit-text-stroke-color: white;
      font-family: "RubikOne";
      
  }
  .registerBtnTxt{
    transform: rotate(-20deg);
  
  }
  .registerBtn:focus, .registerBtn:hover{
    animation: wobble 1s 1;
  }
  
  
  
  .registerSection{
    border: 2px solid white;
      border-radius: 10px;
      box-shadow: 1px 2px #888888;
      background-color: white;
      margin-top: 10%;
  }
  
   
    .accountSubmitBtn:focus, .accountSubmitBtn:hover{
      animation: wobble 1s 1;
    }
    
  
  
  
    /* Forgot Page */
   .forgotTitle{
      font-family: Rubik Mono One;
      position: absolute;
      top: 30px;
      left: 130px;
      border:#cad5dae7;
      border-style: solid;
      border-radius: 15px;
      background-color: #00b3ffe7;
      width: 60%;
   }
  
   .forgotBody{
      border: 2px solid white;
      border-radius: 10px;
      box-shadow: 1px 2px #888888;
      background-color: white;
      margin-top: 10%;
   }
  
   /* .forgotBtn:after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.5s;
    box-shadow: 0 0 10px 40px white;
   } */
  
   /* .forgotBtn:active:after {
    box-shadow: 0 0 0 0 orange;
    position: absolute;
    border-radius: 4em;
    left: 0;
    top:0;
    opacity: 1;
    transition: 0s;
  } */
  
  /* .forgotBtn:active {
    top: 1px;
    
  } */
  .forgotBtn:focus, .forgotBtn:hover{
    animation: wobble 1s 1;
  }
  
  
  
  /* Verify Reset Page */
  .verifyTitle{
    font-family: Rubik Mono One;
      position: absolute;
      top: 10px;
      left: 110px;
      border:#cad5dae7;
      border-style: solid;
      border-radius: 15px;
      background-color: #00b3ffe7;
      width: 60%;
  }
  
  .resetSection{
      border: 2px solid white;
      border-radius: 10px;
      box-shadow: 1px 2px #888888;
      background-color: white;
      margin-top: 10%;
  }
  
  .resetIcon{
    background-color: rgb(255, 190, 71);
  }
  
  .resetInput{
    background-color: rgb(255, 190, 71);
  }
  
  
  .resetBtnTxt{
    transform: rotate(-20deg);
    position: relative;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-family: "RubikOne";
  }
  
  .resetBtn:focus, .resetBtn:hover{
    animation: wobble 1s 1;
  }
  