
.OtherPlayerStack{
    width: 30vh;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
    justify-content: center;
    display: grid!important;
    grid-template-columns: repeat(auto-fit, minmax(10px, max-content));
}

.OtherPlayerStackLeft {
    transform: rotate(90deg)
}

.OtherPlayerStackRight {
    transform: rotate(-90deg)
}

.OtherPlayerStackTop {
    transform: rotate(180deg)
}