.checkBtn{
    border-radius: 100px !important;
    margin: 10px !important;
}

.xBtn{
    border-radius: 100px !important;
    margin: 10px !important;
}

.moveBtn{
    border-radius: 100px !important;
    margin: 10px !important;
}

.messagecontainer{
    display: flex !important;
    align-items: center !important;
}