

.scene {
    display: inline-block;
    width: 200px;
    height: 260px;
  /*   border: 1px solid #CCC; */
    margin: 40px 0;
    // perspective: 600px;
  }
  
  .cards {
    position: relative;
    width: 100%;
    height: 100%;
    top: 65%;
    left: 250%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 0.5s;
    // transform: rotateZ(-5deg)
    //   rotateY(-15deg) 
    //   rotateX(60deg);
    transform: rotateZ(-15deg)
    rotateY(35deg) 
    rotateX(60deg);
  }
  
  .cards img {
    width: 180px;
    height: 1.5*180px;
  }
  
  .cards.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    line-height: 260px;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    backface-visibility: hidden;
  }
  
  .card__face--back {
    transform: rotateY(180deg);
  }

  
  .card {
    position: absolute;
    left: 60%;
    top: 55%;
    margin-left: calc(-200px/2);
    margin-top: calc(-3*200px/4);
    width: 200px;
    height: 1.5*200px;
    border: 200px/20 solid #ccc;
    border-radius: calc(3*200px/30);
    background: #383838;
    outline: #383838 solid 200px/10;
    transform: rotateZ(-15deg)
      rotateY(35deg) 
      rotateX(60deg);
    opacity: 0;
  }
  
  h1 {
    display: inline-block;
    width: 1.5*200px;
    margin-top: 25%;
    margin-left: -25%;
    transform: rotate(90deg);
    font-size: calc(3.5*200px/10);
    text-align: center;
    line-height: 200px;
    font-family: 'Calligraffitti', cursive;
  }

@for $i from 0 to 5 {
    .card:nth-of-type(#{$i + 1}) {
      margin-top:calc((-3*200px/5) - $i*200px/10);
      animation: card_fade_#{$i+1} 5s ease infinite;
    }
  }
  
  @for $i from 0 to 5 {
    @keyframes card_fade_#{$i+1} {
      #{$i*16%} { opacity: 0; }
      #{($i+1)*16%} { opacity: 1; }
    }
  }