.tutorialModalDiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress {
    border: 3px solid black !important;
    border-radius: 10px !important;
    color: white !important;
}


.carouselcontent {
    width: 100%;
    text-align: center;
    padding: 9rem 0;
}

.title {
    font-family: "RubikOne";
    color: black;
    padding: 2rem;
}

.image {
    width: 65%;
}

.description {
    font-family: sans-serif !important;
    color: black !important;
    padding-left: 8rem;
    padding-right: 8rem;
}

.tutorialModal {
    height: 70%;
    width: 50%;
    background-color: #FFC825 !important;
    border: 5px solid #ffffff !important;
    border-radius: 15px;
    margin-left: 25%;
    margin-top: 7%;
}

.tutorialCarousel {
    height: 100% !important;
}

.carouselindicators {
    height: 20px !important;
    width: 20px !important;
    border: 3px solid black !important;
    border-radius: 10px !important;
    background-color: white !important;
    overflow: hidden !important;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.582) !important;
}

.active {
    background-color: #E71E1E !important;
}

/* .highlight {
    color: #E71E1E ;
} */

.next {
    font-size: 6rem;
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: black;
    color: #E71E1E;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.582);
}